<p style="height: 50px;">
</p>
<MudNavMenu>
    <MudNavLink Href="/Home" Match="NavLinkMatch.All"><MudIcon Icon="@Icons.Material.Outlined.BrandingWatermark" /> 首页</MudNavLink>
    <MudNavLink Href="/ProblemDatabaseManage" Match="NavLinkMatch.Prefix"><MudIcon Icon="@Icons.Material.Filled.DataObject" />题目库管理</MudNavLink>
    <MudNavLink Href="/ProblemManage" Match="NavLinkMatch.Prefix"><MudIcon Icon="@Icons.Material.Outlined.DataArray" />题目管理</MudNavLink>
    <MudNavLink Href="/AutoProcessing" Match="NavLinkMatch.Prefix"><MudIcon Icon="@Icons.Material.Filled.Api" />自动化操作</MudNavLink>
    <MudNavLink Href="/About" Match="NavLinkMatch.Prefix">关于</MudNavLink>
</MudNavMenu>